<div class="container">
  <h3>コメント一覧</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>投稿id</th>
        <th>コメント</th>
        <th>本文の感情分析スコア</th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
      <tr onclick='window.location="<%= '/admin/comments/' + comment.id.to_s %>"' role="link">
        <td><%= comment.saunner.nickname %></td>
        <td><%= comment.post.id %></td>
        <td><%= comment.comment %></td>
        <td>[<%= comment.score %>]</td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pagination"><%= paginate @comments %></div>
</div>