<div class="card">
  <div class="card-header">
    <p><%= saunner.nickname %></p>
    <p style="font-size: small;">訪問日時：<%= post.visit_date %></p>
  </div>
  <div class="card-body">
    <p class="card-title" style="font-size: small;"><strong><%= sauna.name %></strong><%= sauna.prefecture %></p>
    <p class="card-text">サウナ時間：<%= post.sauna_minutes %>分</p>
    <p class="card-text">水風呂時間：<%= post.mizu_minutes %>分</p>
    <p class="card-text">ととのい時間：<%= post.totonoi_minutes %>分</p>
    <p class="card-text">セット数：<%= post.sauna_times %>回</p>
    <p class="card-text">サウナ室温度：<%= post.sauna_temperature %>℃</p>
    <p class="card-text">水風呂温度：<%= post.mizu_temperature %>℃</p>
    <p class="card-text"><%= post.sauna_post %></p>
  </div>
</div>