<div class="container px-5 px-sm-0">
  <div class="row">
    <h2>サ活投稿</h2>
    <%= render "/layouts/errors", obj: @post %>
  </div>
  <div>
    <h3 class="container"><%= @sauna.name %></h3>
    <%= form_with model: @post, url: {controller: 'public/posts', action: 'create'} do |f| %>
      <h4 class="pt-3">◆サウナ</h4>
      <div class="pl-2">
        <div class="form-group row">
          <label class="col-md-3">
            <%= f.label :visit_date, "訪問日" %>
            <span class="required">必須</span>
          </label>
            <%= f.date_field :visit_date, class: "col-md-2" %>
        </div>
        <div class="form-group row">
          <label class="col-md-3">
            <%= f.label :sauna_minutes, "サウナ時間" %>
            <span class="required">必須</span>
          </label>
          <%= f.text_field :sauna_minutes, class: "col-md-1" %>分
        </div>
        <div class="form-group row">
          <label class="col-md-3">
            <%= f.label :mizu_minutes, "水風呂時間" %>
            <span class="required">必須</span>
          </label>
          <%= f.text_field :mizu_minutes, class: "col-md-1" %>分
        </div>
        <div class="form-group row">
          <label class="col-md-3">
            <%= f.label :totonoi_minutes, "ととのい時間" %>
            <span class="required">必須</span>
          </label>
          <%= f.text_field :totonoi_minutes, class: "col-md-1" %>分
        </div>
        <div class="form-group row">
          <label class="col-md-3">
            <%= f.label :sauna_times, "セット数" %>
            <span class="required">必須</span>
          </label>
          <%= f.text_field :sauna_times, class: "col-md-1" %>回
        </div>
        <div class="form-group row">
          <label class="col-md-3">
            <%= f.label :sauna_temperature, "サウナ室温度" %>
            <span class="required">必須</span>
          </label>
          <%= f.text_field :sauna_temperature, class: "col-md-1" %>℃
        </div>
        <div class="form-group row">
          <label class="col-md-3">
            <%= f.label :mizu_temperature, "水風呂温度" %>
            <span class="required">必須</span>
          </label>
          <%= f.text_field :mizu_temperature, class: "col-md-1" %>℃
        </div>
        <div class="form-group row">
          <label class="col-md-3">
            <%= f.label :sauna_post, "サ活内容" %>
            <span class="required">必須</span>
          </label>
          <%= f.text_area :sauna_post, class: "col-md-5", size: "50x8" %>
        </div>
        <div class="form-group row">
          <%= f.label :sauna_image, "サ活写真", class: "col-md-3" %>
          <%= f.file_field :sauna_image, size: "200x200", accept: "image/*" %>
        </div>
      </div>
      <h4 class="pt-3">◆サウナ飯</h4>
      <div class="pl-2">
        <div class="form-group row">
          <%= f.label :food_name, "料理名", class: "col-md-3" %>
          <%= f.text_field :food_name, class: "col-md-2" %>
        </div>
        <div class="form-group row">
          <%= f.label :food_post, "サウナ飯内容", class: "col-md-3" %>
          <%= f.text_area :food_post, class: "col-md-5", size: "50x8" %>
        </div>
        <div class="form-group row">
          <%= f.label :food_image, "サ飯写真", class: "col-md-3" %>
          <%= f.file_field :food_image, size: "200x200", accept: "image/*" %>
        </div>
      </div>
      <h4 class="pt-3">◆タグ</h4>
      <div class="pl-2">
        <div class="form-group row">
          <%= f.label "タグ (,で区切ると複数タグ登録できます)", class: "col-md-3" %>
          <%= f.text_field :name, value: @tag_list, class: "col-md-5" %>
        </div>
      </div>
      <div class="pt-3 pl-2">
        <div class="form-group row">
          <%= f.label "投稿公開", class: "col-md-3" %>
          <%= f.radio_button :is_active, :true %>
          <%= f.label :is_active, "公開", {value: :true} %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, "非公開", {value: :false} %>
        </div>
      </div>
      <div class="actions m-2 pull-right">
        <%= f.submit "新規登録" , class: "btn btn-outline-success col-md-offset-6" %>
      </div>
    <% end %>
  </div>
</div>