<% @saunas.each do |sauna| %>
  <%= link_to sauna_path(sauna.id) do %>
  <div class='container px-5 px-sm-0 mt-5 search'>
    <div class="card mb-3 mt-3" style="max-width: 640px;">
      <div class="row g-0">
        <div class="col-6">
          <%= image_tag sauna.get_store_image, class: "sauna_index_image" %>
        </div>
        <div class="col-6">
          <div class="card-body">
            <h5 class="card-title"><%= sauna.name %><br><small class="text-muted"><%= sauna.prefecture %></small></h5>
            <p class="card-text">サウナ室温度：<%= sauna.sauna_temperature %>℃</p>
            <p class="card-text">水風呂温度：<%= sauna.mizu_temperature %>℃</p>
            <p class="card-text">ととのいスポット：<%= sauna.break_space %></p>
            <p class="card-text top-sauna">料金：<%= sauna.fee %></p>
            <p class="card-text top-sauna">定休日：<%= sauna.holiday %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>