<div class= "mt-5 container px-5 px-sm-0">
  <div class="row">
      <h3>会員一覧</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @saunners.each do |saunner| %>
            <tr onclick='window.location="<%= '/admin/saunners/' + saunner.id.to_s %>"' role="link" >
              <td><%= saunner.id %></td>
              <td><%= saunner.last_name %> <%= saunner.first_name %></td>
              <td><%= saunner.email %></td>
              <td><% if saunner.is_deleted %>
                   <span class="text-secondary">退会</span>
                  <% else %>
                   <span class="text-success font-weight-bold">有効</span>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
<div class="pagination"><%= paginate @saunners %></div>
</div>