
      <h2> <%= chat_group.name %></h2>
      <div>
        <%= form_with model: chat, url: chat_group_chats_path(chat_group.id) do |f| %>
          <%= f.text_field :message %>
          <%= f.submit "送信", class:"btn btn-sm btn-outline-success chat-btn" %>
        <% end %>
      </div>

      <% chats.each do |chat| %>
      <% if chat.saunner_id == current_saunner.id %>
      <table class="message table">
        <thead>
          <tr>
            <th style="text-align: left; font-size: 20px;"><%= current_saunner.nickname %>さん</th>
          </tr>
        </thead>
          <tbody>
            <tr>
              <th>
                <p style="text-align: left;"><%= chat.message %></p>
              </th>
            </tr>
          </tbody>
        </table>
        <% else %>
        <table class="message table">
          <thead>
            <tr>
              <th style="text-align: right; font-size: 20px;"><%= chat.saunner.nickname %>さん</th>
            </tr>
          </thead>
            <tbody>
              <tr>
                <th>
                  <p style="text-align: right;"><%= chat.message %></p>
                </th>
              </tr>
            </tbody>
        </table>
      <% end %>
      <% end %>
      <div class="paginate"><%= paginate chats %></div>
