<div class="container-fluid pt-5 pl-3">
  <div class="row">
    <% new_posts.each do |post| %>
    <%= link_to admin_post_path(post.id) do %>
    <div class="col mb-3">
      <div class="card" style="width: 18rem;">
        <%= image_tag post.get_sauna_image, width: '100%', height: '50%' %>
        <div class="card-body">
          <table>
            <thead>
              <tr>
                <td style="font-size: small;">
                <%= post.saunner.nickname %>さん
                </td>
              </tr>
              <tr>
                <th>
                 <a style="color: blue; clamp(1px, 18px, 18px);"><%= post.sauna.name %></a><br>
                 <a style="color: gray; font-size: small;">[<%= post.sauna.prefecture %>]</a>
                </th>
              </tr>
            </thead>
            <tbody style="font-size: small;">
              <tr>
                <td>サウナ室温度：<%= post.sauna_temperature %>℃</td>
                <td class="pl-3">水風呂温度：<%= post.mizu_temperature %>℃</td>
              </tr>
              <tr>
                <td>サウナ時間：<%= post.sauna_minutes %>分</td>
                <td class="pl-3">水風呂時間：<%= post.mizu_minutes %>分</td>
              </tr>
              <tr>
                <td>ととのい時間：<%= post.totonoi_minutes %>分</td>
                <td class="pl-3">セット数：<%= post.sauna_times %>回</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
  </div>
</div>
