<div class='container px-5 px-sm-0 saunner-edit'>
  <div class='row'>
    <div class='col-md-12'>
      <div class="mb-5">
        <h2><i class="fas fa-pen-nib"></i> 施設を登録</h2>
      </div>
      <%= render "/layouts/errors", obj: @sauna %>
      <%= form_with model: @sauna, url: {controller: 'public/saunas', action: 'create'} do |f| %>

        <div class="form-group">
          <%= f.label :name, "施設名", class: "col-md-3" %>
          <%= f.text_field :name, class: "col-md-2" %>
        </div>

        <div class="form-group row">
          <%= f.label :type, "施設タイプ", class: "col-md-3" %>
          <%= f.text_field :type, class: "col-md-2" %>
        </div>
        f.(:person_name, ["佐藤", "鈴木", "高橋"])
        <div class="form-group row">
          <%= f.label :type, "施設タイプ", class: "col-md-3" %>
          <%= f.select(:type, ["温浴施設", "ホテル・旅館", "スポーツジム", "キャンプ場"]) %>
        </div>

        <div class="form-group row">
          <%= f.label :email, "メールアドレス",class: "col-md-3" %><br />
          <%= f.email_field :email, autocomplete: "email",class: "col-md-2" %>
        </div>

        <div class="actions m-2 pull-right">
          <%= f.submit "編集内容を保存" , class: "btn btn-outline-success col-md-offset-6" %>
          <%= link_to "退会する", unsubscribe_path, class: "btn btn-outline-danger" %>
        </div>

      <% end %>

    </div>
  </div>
</div>