<div class='container px-5 px-sm-0'>
  <div class='row'>
    <p><%= @sauna.prefecture %></p>
    <h3><%= @sauna.name %></h3>
    <p><%= link_to "サ活投稿", new_post_path %></p>
    <div class="col">
      <h5>
        サウナ室温度<br>
        <%= @sauna.sauna_temperature %>℃
      </h5>
      <p>収容人数：<%= @sauna.sauna_capacity %>人</p>
      <h5>
        水深<br>
        <%= @sauna.depth %>m
      </h5>
    </div>
    <div class="col">
      <h5>
        水風呂温度<br>
        <%= @sauna.mizu_temperature %>℃
      </h5>
      <p>収容人数：<%= @sauna.mizu_capacity %>人</p>
      <p><%= @sauna.complement %></p>
    </div>
    <div class="form-group row">
      <h5 class="col">アウフグース</h5>
      <%= @sauna.aufguss, class: "col" %>
      <%= @sauna.aufguss_frequency, class: "col-6" %>
    </div>
    <div class="form-group row">
      <h5 class="col">オートロウリュ</h5>
      <%= @sauna.auto_loyly, class: "col" %>
      <%= @sauna.auto_loyly_frequency, class: "col-6" %>
    </div>
    <div class="form-group row">
      <h5 class="col">セルフロウリュ</h5>
      <%= @sauna.self_loyly, class: "col" %>
      <a class="col-6"></a>
    </div>
    <div class="form-group row">
      <h5 class="col">外気浴</h5>
      <%= @sauna.air_bath, class: "col" %>
      <a class="col-6"></a>
    </div>
    <div class="form-group row">
      <h5 class="col">ととのいスペース</h5>
      <%= @sauna.break_space, class: "col" %>
      <a class="col-6"></a>
    </div>

    <h4>館内設備</h4>
    <table class="table">
      <tr>
        <th>館内休憩スペース</th>
        <td><%= @sauna.inside_break_space %></td>
        <th>Wi-fi</th>
        <td><%= @sauna.wi_fi %></td>
        <th>電源</th>
        <td><%= @sauna.supply %></td>
      </tr>
      <tr>
        <th>作業スペース</th>
        <td><%= @sauna.work_space %></td>
        <th>食事処</th>
        <td><%= @sauna.restaurant %></td>
        <th>駐車場</th>
        <td><%= @sauna.parking %></td>
      </tr>
      <tr>
        <th>給水器</th>
        <td><%= @sauna.dispenser %></td>
        <th>オロポ</th>
        <td><%= @sauna.oropo %></td>
        <th>タトゥー可</th>
        <td><%= @sauna.tattoo %></td>
      </tr>
    </table>

    <h4>アメニティ</h4>
    <table>
      <tr>
        <th>シャンプー</th>
        <td><%= @sauna.shampoo %></td>
        <th>コンディショナー</th>
        <td><%= @sauna.conditioner %></td>
        <th>ボディソープ</th>
        <td><%= @sauna.bodysoap %></td>
      </tr>
      <tr>
        <th>フェイスソープ</th>
        <td><%= @sauna.facesoap %></td>
        <th>カミソリ</th>
        <td><%= @sauna.razor %></td>
        <th>歯ブラシ</th>
        <td><%= @sauna.toothbrush %></td>
      </tr>
      <tr>
        <th>ナイロンタオル</th>
        <td><%= @sauna.nylon_towel %></td>
        <th>ドライヤー</th>
        <td><%= @sauna.hairdryer %></td>
        <th>フェイスタオル</th>
        <td><%= @sauna.facetowel %></td>
      </tr>
      <tr>
        <th>バスタオル</th>
        <td><%= @sauna.bathtowell %></td>
        <th>サウナパンツ</th>
        <td><%= @sauna.pants %></td>
        <th>サウナマット</th>
        <td><%= @sauna.saunamat %></td>
      </tr>
      <tr>
        <th>ビート板</th>
        <td><%= @sauna.saunaboard %></td>
        <th></th>
        <td></td>
        <th></th>
        <td></td>
      </tr>
    </table>

    <h4>施設補足事項</h4>
    <p><%= @sauna.free_text %></p>
  </div>
</div>