<div class="container mb-5">
  <h5>お問合せ一覧</h5>
  <div class="mt-3">
    <table class="table">
      <thead>
        <tr>
          <th>名前</th>
          <th>ニックネーム</th>
          <th>テーマ</th>
        </tr>
      </thead>
      <% @contacts.each do |contact| %>
      <%= link_to admin_contact_path(contact.id) do %>
      <tbody>
        <tr>
          <td><%= contact.name %></td>
          <td><%= @saunner.nickname %></td>
          <td><%= contact.title %></td>
        </tr>
      </tbody>
      <% end %>
      <% end %>
    </table>
    <div class="paginate"><%= paginate @contacts %></div>
  </div>
</div>