<div class="row">
  <% posts.each do |post| %>
  <%= link_to admin_post_path(post.id) do %>
  <div class="card mb-3 mt-5" style="width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <%#= image_tag post.get_sauna_image, size: '300x300' %>
      </div>
      <div class="col-md-8" style="padding-left: 100px;">
        <div class="card-body">
          <table>
            <tr>
              <th class="pr-2"><%= post.saunner.nickname %>さん</th>
            </tr>
            <tr>
              <th class="pr-2"><%= post.sauna.name %><small class="text-muted"><%= sauna.prefecture %></small></th>
            </tr>
            <tr>
              <td class="pr-2 pt-3">サウナ室温度：<%= post.sauna_temperature %>℃</td>
              <td class="pl-3 pt-3">水風呂温度：<%= post.mizu_temperature %>℃</td>
            </tr>
            <tr>
              <td class="pr-2">サウナ時間：<%= post.sauna_minutes %>分</td>
              <td class="pl-3">水風呂時間：<%= post.mizu_minutes %>分</td>
              <td class="pl-3">ととのい時間：<%= post.totonoi_minutes %>分</td>
            </tr>
            <tr>
              <td class="pr-2">セット数：<%= post.sauna_times %>回</th>
            </tr>
          </table>
          <p class="pt-3" style="font-size: small;">コメント</p>
          <p><%= post.sauna_post %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
<div class="pagination"><%= paginate posts %></div>