<div class="container px-5 px-sm-0 admin_post_show">
  <div class="row">
    <h1>投稿詳細</h1>
    <div class="card" style="width: 100%; height: 100%;">
      <div class="card-header container">
        <p class="d-inline ml-3"><%= @post.saunner.nickname %>さん</p>
        <p class="d-inline ml-3" style="font-size: small;">訪問日時：<%= @post.visit_date %></p>
        <p class="card-title d-inline ml-3"><%= @post.sauna.name %><a style="font-size: small; color: gray;"><%= @post.sauna.prefecture %></a></p>
        <a><%= link_to '削除', admin_post_path(sauna_id: @post.sauna.id, post_id: @post.id), method: :delete, data: { confirm: '本当に削除しますか？' } , class: "btn btn-sm btn-outline-danger" %></p>
      </div>
      <div class="card-body text-center">
        <div class="container row">
          <div class="col">
            <p class="card-text">サウナ時間：<%= @post.sauna_minutes %>分</p>
            <p class="card-text">水風呂時間：<%= @post.mizu_minutes %>分</p>
            <p class="card-text">ととのい時間：<%= @post.totonoi_minutes %>分</p>
            <p class="card-text">セット数：<%= @post.sauna_times %>回</p>
            <p class="card-text">サウナ室温度：<%= @post.sauna_temperature %>℃</p>
            <p class="card-text">水風呂温度：<%= @post.mizu_temperature %>℃</p>
            <p class="card-text">コメント</p>
            <p class="card-text"><%= @post.sauna_post %></p>
            <p class="card-text">本文の感情分析スコア：[<%= @post.score %>]</p>
          </div>
          <div class="col">
            <%= image_tag @post.get_sauna_image, size:'400x200' %>

          </div>
        </div>
        <%= link_to "≤一覧へ戻る", admin_posts_path %>
      </div>
    </div>
  </div>
</div>