<div class='container px-5 px-sm-0'>
  <h2>チャットグループ</h2>
  <table class='table table-inverse'>
    <thead>
      <tr>
        <th></th>
        <th>グループ名</th>
        <th>紹介文</th>
        <th>メンバー</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td><%= @chat_group.name %></td>
        <td><%= @chat_group.introduction %></td>
        <td>
          <% @chat_group.saunners.each do |member| %>
            <%= member.nickname %>
          <% end %>
        </td>
        <td>
          <% if @chat_group.saunner_id == current_saunner.id %>
            <%= link_to '編集', edit_chat_group_path(@chat_group), class: "btn btn-sm btn-outline-success" %>
          <% elsif @chat_group.saunners.include?(current_saunner) %>
            <%= link_to '退会する', chat_group_path(@chat_group), method: :delete, class: "btn btn-sm btn-outline-danger" %>
          <% else %>
            <%= link_to '参加する', chat_group_join_path(@chat_group), class: "btn btn-sm btn-outline-success" %>
          <% end %>
        </td>
        <td>
          <% if @chat_group.saunner_id == current_saunner.id %>
           <%= link_to '削除',chat_group_all_destroy_path(@chat_group), method: :delete,data: { confirm: '本当に削除しますか？' } , class: "btn btn-sm btn-outline-danger" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>