<table class="table">
  <tbody>
    <tr>
      <th style="width: 150px;">商品名</th>
      <td><%= product.name %></td>
    </tr>
    <tr>
      <th>商品説明</th>
      <td><%= product.introduction %></td>
    </tr>
    <tr>
      <th>ジャンル</th>
      <td><%= product.genre.name %></td>
    </tr>
    <tr>
      <th>
        <p>税込価格</p>
        <p>(税抜価格)</p>
      </th>
      <td>
        <p>¥<%= ((product.price * 1.1).floor).to_s(:delimited) %></p>
        <p>(¥<%= (product.price).to_s(:delimited) %>)</p>
      </td>
    </tr>
  </tbody>
</table>