<div class="container px-5 px-sm-0 orders">
  <h2 class="mt-5">注文履歴一覧</h2>
  <div class="mt-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <% @orders.each do |f| %>
      <tbody>
        <tr onclick='window.location="<%= '/orders/' + f.id.to_s %>"' role="link">
          <td><%= f.created_at.strftime('%Y/%m/%d') %></td>
          <td>
            <%= f.postcode %><br>
            <%= f.address %>
          </td>
          <td>
            <% f.order_products.each do |order_product| %>
              <%= order_product.product.name %>
            <% end %>
          </td>
          <td><% f.total_price %></td>
          <td><%= f.order_status_i18n %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <div class="mt-3 text-center pagination"><%= paginate @orders %></div>
  </div>
  <%= link_to "≤マイページに戻る", my_page_path(@saunner) %>
</div>
