<% notifications.each do | notification | %>
  <% visitor = notification.visitor %>
  <% visited = notification.visited %>

  <div class="col-md-6 mx-auto form-inline">
    <div>
      <strong><%= visitor.nickname %>さんが</strong>
        <% case notification.action %>
        <% when 'favorite' then %>
          <%= link_to "あなたの投稿", sauna_post_path(notification.sauna_id, notification.post_id), style: "font-weight: bold;" %>
          にいいねしました
    </div>
    <div>
        <% when 'comment' then %>
          <%= link_to "あなたの投稿", sauna_post_path(notification.sauna_id, notification.post_id), style: "font-weight: bold;" %>
          にコメントしました
      <% end %>
      <p class="text-muted mb-0"><%= Comment.find_by(id: notification.comment_id)&.comment %></p>
      <p class="small text-muted text-right"><%= time_ago_in_words(notification.created_at).upcase %>前</p>
    </div>
  </div>
<% end %>
