<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #b0c4de; height: 100px;">
    <div style="padding-left: 160px;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse header_drop_down" id="navbarNavDropdown" style="background: #b0c4de;">
        <div class="mb-3 mr-5">
          <%= link_to admin_path do %>
            <%= image_tag 'home.jpg', size: '100x50' %>
          <% end %>
        </div>
        <ul class="navbar-nav ml-auto">
          <li>
            <%= link_to admin_saunas_path, class: 'nav-link' do %>
              施設一覧
            <% end %>
          </li>
          <li class="pl-3">
            <%= link_to admin_saunners_path, class: 'nav-link' do %>
              会員一覧
            <% end %>
          </li>
          <li class="pl-3">
            <%= link_to admin_posts_path, class: 'nav-link' do %>
              投稿一覧
            <% end %>
          </li>
          <li class="pl-3">
            <%= link_to admin_comments_path, class: 'nav-link' do %>
              コメント一覧
            <% end %>
          </li>
          <li class="pl-3">
            <%= link_to admin_chat_groups_path, class: 'nav-link' do %>
              チャットグループ一覧
            <% end %>
          </li>
          <li class="pl-3">
            <%= link_to admin_contacts_path, class: 'nav-link' do %>
              お問合せ一覧
            <% end %>
          </li>
          <li class="pl-3">
            <%= link_to admin_genres_path, class: 'nav-link' do %>
              ジャンル一覧
            <% end %>
          </li>
          <li class="pl-3">
            <%= link_to admin_products_path, class: 'nav-link' do %>
              商品一覧
            <% end %>
          </li>
          <li class="pl-3">
            <%= link_to admin_orders_path, class: 'nav-link' do %>
              注文一覧
            <% end %>
          </li>
          <li class="pl-3">
            <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link' do %>
              ログアウト
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>