<!DOCTYPE html>
<html>
  <head>
    <title>EverybodySauna</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if saunner_signed_in? %>
      <%= render 'layouts/login_saunner_header' %>
    <% elsif admin_signed_in? %>
      <%= render 'layouts/admin_header' %>
    <% else %>
      <%= render 'layouts/saunner_header' %>
    <% end %>
    <main class="p-5">
      <div id="flash-success">
      <% if notice %>
      <p id="notice" class="text-secondary text-center"><%= notice %></p>
      <% end %>
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>
  </body>
</html>